
body {
    background-image: url(./images/bgimg.jpeg);
    background-size : 100% auto;
}
#maintitle {
    position:absolute;
    top: 300px;
    left: 610px;
}
#maintitle h1 {
    color: white;
    font-size: 60px;
    font-family: monospace;
    background: transparent;
    text-align: center;
}
.nckuee h2 {
    color: white;
    padding-left:45px;
    margin-top: 25px;
}
#btn {
    background: url(./images/button.jpg);
    width: 75px;
    height: 25px;
    text-align: center;
    position: relative;
    float: right;
    top: -45px;
    right: 30px;
}
#btn a {
    color: aliceblue;
}
#btn a:hover{
    background-color: blue;
}
.page {
    color: white;
    font-family:sans-serif;
    width: 100px;
    text-align: center;
    position: relative;
    top:600px;
    left: 30px; 
}
#nowpage {
    text-align:left; 
    font-size:40px;
}
#totalpage {
    text-align:right; 
    font-size:18px;
}
.links {
    position: relative;
    top:575px;
    left: 1350px;
}
.links a {
    color: white;
}
.links a:hover {
    color: lightpink;
}
.links a:active{
    color: aquamarine;
}
.links p {
    color: white;
    display:inline;
}
